:root {
  --white: #EDEDEF;
  --red: #A70D29;
  --black: #000000;
  --dark-red: #5A0B11;
  --grey: #90909C;
}

body {
  position: relative;
  background-color: var(--white);
  width: 100vw;
}

.photo {
  position: relative;
  background-image: url(../image/intro.JPG);
  width: 100%;
  min-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.wrapper{
  color: white;
  transform: rotate(-60deg);
  gap: 85px;
  font-size: 48px;
  margin-top: 40%;
  opacity: 0;
  transition: gap 1s ease-in-out, opacity .5s ease-in-out;
}

.animate-wrapper{
  gap: 20px;
  opacity: 1;
}

.intro {
  z-index: 100;
  width: 100%;
  height: 100vh;
  backdrop-filter: blur(15px);
  background-color: var(--white);
  position: absolute;
  opacity: 0.9;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 36px;
}

.section__header{
  font-size: 28px
}

.intro__text {
  opacity: 0;
  transform: rotate(-20deg);
  animation-name: fadeOut;
  animation-direction: reverse;
  animation-delay: .5s;
  animation-duration: .5s;
  animation-fill-mode: forwards;
  color: var(--dark-red);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.letter__name{
  text-shadow:3px 3px 0px var(--red);
  font-weight: 600;
  font-size: 48px;
  position: absolute;
}

.upper{
  top: 20%;
  left: 20%;
}

.lower{
  bottom: 40%;
  right: 20%;
}

.fadeOut {
  animation-name: fadeOut;
  animation-delay: 2s;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes fadeOut {
  0% {
    opacity: 0.9;
  }

  100% {
    opacity: 0;
    display: none;
  }
}

.invite{
  gap: 20px;
  margin-top: 40px;
}

.invite__text{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.main__info{
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.main__section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.location{
  gap: 20px;
}

.location__section{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.location__text{
  text-align: center;
  font-style: italic;
}

.location__address{
  text-align: center;
  font-size: 14px;
}

.location__button{
  border: var(--black) solid 1px;
  border-radius: 4px;
  padding: 8px;
}

.event{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  position: relative;
}

.event::after{
  content: "";
  width: 0px;
  border: solid 1px var(--black);
  height: 30px;
  color: #000000;
}

.event:nth-last-child(1)::after{
  display: none;
}

.dress-code__circle{
  border-radius: 100%;
  width: 48px;
  height: 48px;
  background-color: black;
  border: solid 1px var(--dark-red);
}

.dress-code{
  gap: 20px;
}

.worksheet{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.timing{
  gap: 20px;
}

p{
  text-align: center;
}

* {
  font-family: "Comfortaa", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  margin: 0;
}

table {
  border-collapse: collapse;
  margin: auto;
}
th, td {
  padding: 10px;
  text-align: center;
  font-style: italic;
}
.day {
  color: #000000;
  font-family: "Comfortaa", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  margin: 0;
}
.date {
  font-weight: bold;
  padding: 4px;
}
.special-day {
  background-color: var(--red);
  color: white;
  border-radius: 100%;
  
}

.calendar__title{
  font-size: 24px;
}